body {
    background-color: rgb(243, 243, 204);
    display: flex;
    flex-direction: column;
    /* min-height: 90vh;
    min-width: 90vh; */
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 24px;
    color: black;
    /* border: solid red; */
}

.mainContainer {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    flex-grow: 1;
    /* border: 1px solid red; */
}

.row {
    height: 200px;
    display: flex;
}


.cell {
    display: flex;
    height: 200px;
    flex: 1;
    border: 3px solid gray;
}


#cell1, #cell2, #cell3 {
    border-top: none;
}

#cell7, #cell8, #cell9 {
    border-bottom: none;
}

#cell1, #cell4, #cell7 {
    border-left: none;
}

#cell3, #cell6, #cell9 {
    border-right: none;
}


.btn {
    display: flex;
    height: 170px;
    width: 170px;
    margin: auto;
    border: none;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background-color: transparent;    
}


.xClass {
    color: red;
}

.oClass {
    color:blue;
}

.footer {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    width: 170px ;
    height: 50px;
    margin-top: 50px;
}

.copyright {
    display: flex;
    align-self: center;
    align-items: center;
    font-size: 20px;
}







